<div class="container-fluid">
  <div class="card border-info card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Đề cương</h5>
    </div>
    <div class="card-body">
      <div id="accordion">

        <div class="card border-primary mb-1">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChuong1" aria-expanded="true" aria-controls="collapseChuong1">
                Chương 1
              </button>
            </h5>
          </div>
          <div id="collapseChuong1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="text-right pt-3 pr-4">
              <button class="btn btn-primary">
                Danh sách câu hỏi
              </button>
            </div>
            <div class="card-body">
              Nội dung
            </div>
          </div>
        </div>

        <div class="card border-primary">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseChuong2" aria-expanded="true" aria-controls="collapseChuong2">
                Chương 2
              </button>
            </h5>
          </div>
          <div id="collapseChuong2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="text-right pt-3 pr-4">
              <button class="btn btn-primary">
                Danh sách câu hỏi
              </button>
            </div>
            <div class="card-body">
              Nội dung
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
