<nav class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/cyberpop-zoe.jpg" class="rounded rounded-circle py-3" alt="">
    <h5 *ngIf="isLogin">
      <a class="text-uppercase nameTeacher" href="">{{ teacher?teacher?.firstName: '...' }} {{ teacher?teacher?.lastName: '...' }}</a>
    </h5>
    <select id="select-role" class="form-control" #t (change)="showMenuItemByRole(t.value)">
      <option value="default" selected>Please get Role</option>
      <option *ngFor="let itemRole of role" [value]="[itemRole.roleID]">{{ itemRole.roleName }}</option>
    </select>
  </div>
  <div class="sidebar__body">
    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/']">
          <i class="fas fa-home"></i>
          Trang chủ
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-user"></i>
          Thông tin cá nhân
        </a>
      </li>

    </ul>
    <div class="sidebar-truong-khoa sidebar-box">
      <ul class="list-unstyled components">
        <li *ngFor="let key of getKeys(mapMenuRole)">
          <a [routerLink]="key">
            <i [class]='[mapMenuRole.get(key)[0]]'></i>
            {{ mapMenuRole.get(key)[1] }}
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="sidebar__footer">
    <a href="mailto:nguyenphatit.nl@gmail.com?Subject=Hello%20-%20Bank%20Exam">@EmailPhat</a>
    <a href="tel:+84969037662">@TelPhat</a>
    <br/>
    <a href="mailto:vanthang20437@gmail.com?Subject=Hello%20-%20Bank%20Exam">@EmailThang</a>
    <a href="tel:+841203847318">@TelThang</a>
    <br/> Powered by TP - Bank Exam © 2010-2018
    <br/> Version v0.1
  </div>
</nav>
