<nav class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/cyberpop-zoe.jpg" class="rounded rounded-circle py-3" alt="">
    <h5><a href="">Nguyễn Tấn Phát</a></h5>
    <select id="select-role" class="form-control">
      <option value="sidebar-truong-khoa">Trưởng khoa</option>
      <option value="sidebar-truong-bo-mon">Trưởng bộ môn</option>
      <option value="sidebar-giang-vien">Giảng viên</option>
    </select>
  </div>
  <div class="sidebar__body">
    <ul class="list-unstyled components">
      <li>
        <a href="home.html">
          <i class="fas fa-home"></i>
          Trang chủ
        </a>
      </li>
      <li>
        <a href="thong-tin-ca-nhan.html">
          <i class="fas fa-user"></i>
          Thông tin cá nhân
        </a>
      </li>
      <li>
        <a href="thong-ke.html">
          <i class="fas fa-signal"></i>
          Thống kê
        </a>
      </li>
    </ul>
    <div class="sidebar-truong-khoa sidebar-box">
      <ul class="list-unstyled components">
        <!-- trưởng khoa -->
        <li>
          <a href="truong-khoa/them-giang-vien.html">
            <i class="fas fa-plus-square"></i>
            Thêm giảng viên
          </a>
        </li>
        <li>
          <a href="truong-khoa/danh-sach-bo-mon.html">
            <i class="fas fa-plus-square"></i>
            Phân công dạy
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-truong-bo-mon sidebar-box">
      <ul class="list-unstyled components">
        <li>
          <a href="truong-bo-mon/danh-sach-mon-hoc-phan-cong.html">
            <i class="fas fa-edit"></i>
            Phân công
          </a>
        </li>
        <li>
          <a href="truong-bo-mon/danh-sach-mon-hoc-duyet.html">
            <i class="fas fa-calendar-check"></i>
            Duyệt
          </a>
        </li>
        <li>
          <a href="tao-de-thi.html">
            <i class="fas fa-edit"></i>
            Tạo đề thi
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-giang-vien sidebar-box">
      <ul class="list-unstyled components">
        <li>
          <a href="#">
            <i class="fas fa-archive"></i>
            Môn học
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-suitcase"></i>
            Công việc
          </a>
        </li>
        <li>
          <a href="soan-cau-hoi.html">
            <i class="fas fa-edit"></i>
            Soạn câu hỏi
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar__footer">
    <a href="mailto:nguyenphatit.nl@gmail.com?Subject=Hello%20-%20Bank%20Exam">@EmailPhat</a>
    <a href="tel:+84969037662">@TelPhat</a>
    <br/>
    <a href="mailto:vanthang20437@gmail.com?Subject=Hello%20-%20Bank%20Exam">@EmailThang</a>
    <a href="tel:+841203847318">@TelThang</a>
    <br/>
    Powered by TP - Bank Exam © 2010-2018
    <br/>
    Version v0.1
  </div>
</nav>
