<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="font-weight-bold">Danh sách giảng viên</h4>
      Khoa Công nghệ thông tin
    </div>
    <div class="card-body">
      <div class="text-right">
        <button class="btn be-btn-blue" data-toggle="modal" data-target="#modal-them-giang-vien">
          <i class="fas fa-plus"></i> Thêm giảng viên</button>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 my-3">
          <div class="card card-item">
            <img class="card-img-top" src="../assets/images/cyberpop-zoe.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Nguyễn Tấn Phát</h5>
              <h6 class="card-subtitle mb-2 text-muted">nguyenphatit.nl@gmail.com</h6>
              <div class="text-right">
                <a href="#" class="btn be-btn-red">Xóa</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 my-3">
          <div class="card card-item">
            <img class="card-img-top" src="../assets/images/oracle.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Trần Văn Thắng</h5>
              <h6 class="card-subtitle mb-2 text-muted">vanthang20437@gmail.com</h6>
              <div class="text-right">
                <a href="#" class="btn be-btn-red">Xóa</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-them-giang-vien" tabindex="-1" role="dialog" aria-labelledby="them-giang-vien" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="them-giang-vien">Thêm giảng viên giảng dạy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 my-2">
            <div class="card card-item">
              <img class="card-img-top" src="../assets/images/cyberpop-zoe.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nguyễn Tấn Phát</h5>
                <h6 class="card-subtitle mb-2 text-muted">nguyenphatit.nl@gmail.com</h6>
                <div class="text-right">
                  <a href="#" class="btn be-btn-blue">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 my-2">
            <div class="card card-item">
              <img class="card-img-top" src="../assets/images/cyberpop-zoe.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nguyễn Tấn Phát</h5>
                <h6 class="card-subtitle mb-2 text-muted">nguyenphatit.nl@gmail.com</h6>
                <div class="text-right">
                  <a href="#" class="btn be-btn-blue">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 my-2">
            <div class="card card-item">
              <img class="card-img-top" src="../assets/images/cyberpop-zoe.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nguyễn Tấn Phát</h5>
                <h6 class="card-subtitle mb-2 text-muted">nguyenphatit.nl@gmail.com</h6>
                <div class="text-right">
                  <a href="#" class="btn be-btn-blue">
                    <i class="fas fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn be-btn-blue" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
