<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="font-weight-bold">Thêm bộ môn</h4>
      Khoa Công nghệ thông tin
    </div>
    <div class="card-body">
      <h5 class="card-title">Thông tin bộ môn</h5>
      <form>
        <div class="form-group">
          <label for="khoa">Khoa</label>
          <select class="form-control" id="khoa">
            <option>Công nghệ thông tin</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tenbomon">Tên bộ môn</label>
          <input type="text" class="form-control" id="tenbomon" placeholder="Nhập tên bộ môn">
        </div>
        <div class="form-group">
          <label for="tbm">Trưởng bộ môn</label>
          <select class="form-control" id="tbm">
            <option>Trần Lê Như Quỳnh</option>
          </select>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
