<div class="container-fluid">
  <div class="card border-info card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Danh sách môn học</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th scope="col">Mã môn học</th>
              <th scope="col">Tên môn học</th>
              <th scope="col">Tên giảng viên</th>
              <th scope="col">Chi tiết</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <th scope="row">1</th>
              <td>Hệ thống thông tin</td>
              <td>Trần Lê Như Quỳnh</td>
              <td>
                <button class="btn btn-primary">Đề cương</button>
                <button class="btn btn-primary">Cấu trúc đề thi</button>
                <button class="btn btn-primary">Danh sách câu hỏi</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
