<div class="container-fluid">
  <div class="card border-info card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Danh sách môn học</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <!-- <th scope="col">Mã môn học</th> -->
              <th scope="col">Tên môn học</th>
              <th scope="col">Giảng viên phụ trách</th>
              <th scope="col">Đê cương</th>
              <th scope="col">Cấu trúc đề thi</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let subject of subjects">
              <!-- <th scope="row">1</th> -->
              <td>{{subject.subjectName}}</td>
              <td>{{subject.teacherManagement.firstName+' '+subject.teacherManagement.lastName}}</td>
              <td>
                <a class="btn btn-primary" [routerLink]="['/chuong-muc/xem-de-cuong', subject.subjectId]">
                  <i class="fas fa-align-right"></i>
                </a>
              </td>
              <td>
                <a class="btn btn-primary" [routerLink]="['/cau-truc',subject.subjectId]">
                  <i class="fas fa-align-right"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>