<div class="container-fluid">
  <div class="card border-info card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Phân công tạo đề cương</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="font-weight-bold" for="bo-mon">Bộ môn</label>
          <select class="form-control" id="bo-mon">
            <option>Chọn bộ môn</option>
            <option value="bo-mon-1">HTTT</option>
          </select>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="mon-hoc">Môn học</label>
          <select class="form-control" id="mon-hoc">
            <option>Chọn môn học</option>
            <option value="bo-mon-1">HTTTQL</option>
          </select>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="giang-vien">Giảng viên</label>
          <select class="form-control" id="giang-vien">
            <option>Chọn giảng viên</option>
            <option value="bo-mon-1">Nguyễn Tấn Phát</option>
            <option value="bo-mon-2">Trần Văn Thắng</option>
          </select>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="noi-dung-phan-cong">Nội dung công việc</label>
          <textarea class="form-control" id="noi-dung-phan-cong" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="bat-dau">Thời gian bắt đầu</label>
          <input type="date" id="bat-dau" class="form-control" />
        </div>
        <div class="form-group">
          <label class="font-weight-bold" for="ket-thuc">Thời gian kết thúc</label>
          <input type="date" id="ket-thuc" class="form-control" />
        </div>
        <div class="text-right">
          <button type="submit" class="btn be-btn-blue">Xác nhận</button>
        </div>
      </form>

    </div>
  </div>
</div>
