<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="font-weight-bold">Thêm môn học</h4>
      Khoa Công nghệ thông tin
    </div>
    <div class="card-body">
      <h5 class="card-title">Thông tin môn học</h5>
      <form>
        <div class="form-group">
          <label for="bomon">Bộ môn</label>
          <select class="form-control" id="bomon">
            <option>HTTT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tenmon">Tên môn</label>
          <input type="text" class="form-control" id="tenmon" placeholder="Nhập tên môn học">
        </div>
        <div class="form-group">
          <label for="giangvien">Giảng viên dạy</label>
          <select class="form-control" id="giangvien">
            <option>Trần Lê Như Quỳnh</option>
          </select>
        </div>
        <div class="form-group">
            <label for="giangvienthem">Giảng viên giảng dạy (nếu có thêm)</label>
            <select multiple class="form-control" id="giangvienthem">
              <option>Phạm Văn Tính</option>
            </select>
          </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
