<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h4 class="font-weight-bold">Danh sách bộ môn</h4>
      Khoa Công nghệ thông tin
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 my-3">
          <div class="card card-item">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Hệ thống thông tin</h5>
              <h6 class="card-subtitle mb-2 text-muted">Tổng số môn học: 5</h6>
              <h6 class="card-subtitle mb-2 text-muted">Tổng số giảng viên: 5</h6>
              <a href="danh-sach-mon-hoc.html" class="btn be-btn-blue">Chi tiết</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 my-3">
          <div class="card card-item">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mạng máy tính</h5>
              <h6 class="card-subtitle mb-2 text-muted">Tổng số môn học: 5</h6>
              <h6 class="card-subtitle mb-2 text-muted">Tổng số giảng viên: 5</h6>
              <a href="danh-sach-mon-hoc.html" class="btn be-btn-blue">Chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
