<div class="container-fluid">
  <div class="card border-info card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Phân công công việc</h5>
    </div>
    <div class="card-body">
      <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân công tạo đề cương</h5>
              <a href="#" class="btn btn-primary">Phân công</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân công tạo cấu trúc</h5>
              <a href="#" class="btn btn-primary">Phân công</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
          <div class="card">
            <img class="card-img-top" src="../assets/images/Sell-course-online.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Phân công tạo câu hỏi</h5>
              <a href="#" class="btn btn-primary">Phân công</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
