<div class="container-fluid">
  <div class="card border-info card-content">
    <div class="card-header">
      <h5 class="card-title font-weight-bold text-uppercase">Cấu trúc đề thi - Hệ thống thông tin quản lý</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Môn học</th>
              <th scope="col">Giảng viên</th>
              <th scope="col">Số lượng</th>
              <th scope="col">Tạo/In đề</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <th scope="row">1</th>
              <td>HTTTQL</td>
              <td>Trần Lê Như Quỳnh</td>
              <td>5</td>
              <td>
                <button class="btn btn-primary">
                  <i class="fas fa-file"></i>
                </button>
                <button class="btn btn-primary">
                  <i class="fas fa-print"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
